<a href="https://colab.research.google.com/github/kms326/BackendOrmi/blob/main/deep_dive_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# colab 사용법

 1. **실행 단축키**
    1. (필수) `Ctrl(Command)` + `Enter` : 해당 셀 실행
    2. `Shift` + `Enter` : 해당 셀 실행 + 커서를 다음 셀로 이동
    3. (필수) `Alt(Option)` + `Enter` : 해당 셀 실행 + 코드 불록 하단 추가
2. **셀 삽입/삭제 관련 단축키**
    1. `Ctrl(Command)` + M A : 코드 셀 위에 삽입
    2. `Ctrl(Command)` + M B : 코드 셀 아래 삽입
    3. `Ctrl(Command)` + M D : 셀 지우기
    4. `Ctrl(Command)` + M Y : 코드 셀로 변경
    5. `Ctrl(Command)` + M M : 마크다운 셀로 변경
    6. `Ctrl(Command)` + M Z : 실행 취소
3. 수정 관련된 단축키
    1. `Ctrl(Command)` + `Alt(Option)` + 화살표위아래 : 동시 수정
    2. (자주) `Ctrl(Command)` + D : 같은 단어 찾아 동시 수정
    3. `Ctrl(Command)` + `Shift` + L : 동일 단어를 전체로 찾아 동시 수정
    4. `Alt(Option)` + `Shift` + 화살표위아래 : 해당내용을 위나 아래 복사해서 붙여넣기
    5. `Alt(Option)` + 화살표위아래 : 해당 내용을 위나 아래로 보내기
    6. (자주) `Ctrl(Command)` + `Alt(Option)` + 화살표위아래 : 위아래 동시 수정
    7. (자주) Home, End : 문장의 양 끝
    8. (필수) `Ctrl` + `/` : 주석
    9. (필수) `Shift` + `Del` : 한 줄 지우기
    10. (필수) `Tab`, `Ctrl` + `]` : 들여쓰기
    11. (필수) `Shift` + `Tab`, `Ctrl` + `[` : 내어쓰기
4. 단축키 보기 및 설정
    1. `Ctrl(Command)` + M H : 단축키 모음

# 마크다운

* 필수 마크다운

```
  # hello
  ## hello
  ### hello

  1. hello
  2. hello
  3. hello

  * hello
  * hello
  * hello
  ```
* 선택 마크다운(필수가 아니니 부담가지지 마세요.)
```
# h1
## h2
### h3
#### h4
##### h5
###### h6

---

1. hello
2. hello
3. hello

* hello
* hello
* hello

- hello
- hello
- hello

__굵게__
**굵게**
_기울여 쓰기_
*기울여 쓰기*
~취소선~
~~취소선~~

> 인용문 작성하기
`인라인 코드는 이렇게 작성해요.`

[인라인 링크](https://velog.io/)

![이미지 설명](이미지 링크)


* table은 직접 만들지 마시고 https://www.tablesgenerator.com/markdown_tables 와 같은 서비스를 이용하세요.

| 1 | 2     | 3 | 4 | 5     |
|---|-------|---|---|-------|
| 1 | hello | 3 | 4 | world |

* [ ] hello
* [X] hello

```

# Python

In [ ]:
#행 단위 주석입니다.

"""
큰 따옴표로 세번 묶거나
작은 따옴표로 세번 묶으면
열단위 주석이 됩니다.
"""
#아래와 가팅 열단위 주석으로 text를 넣을 수도 있습니다.
data='''
큰 따옴표로 세번 묶거나
작은 따옴표로 세번 묶으면
열단위 주석이 됩니다.
'''
def connect_to_next_port(self, minimum: int) -> int:
    """Connects to the next available port.

    Args:
      minimum: A port value greater or equal to 1024.

    Returns:
      The new minimum port.

    Raises:
      ConnectionError: If no available port is found.
    """
    if minimum < 1024:
        # Note that this raising of ValueError is not mentioned in the doc
        # string's "Raises:" section because it is not appropriate to
        # guarantee this specific behavioral reaction to API misuse.
        raise ValueError(f'Min. port must be at least 1024, not {minimum}.')
    port = self._find_next_open_port(minimum)
    if port is None:
        raise ConnectionError(
            f'Could not connect to service on port {minimum} or higher.')
    assert port >= minimum, (
        f'Unexpected port {port} when minimum was {minimum}.')
    return port
data

'\n큰 따옴표로 세번 묶거나\n작은 따옴표로 세번 묶으면\n열단위 주석이 됩니다.\n'

In [ ]:
#행 단위 주석입니다.

"""
큰 따옴표로 세번 묶거나
작은따옴표로 세번 묶으면
열단위 주석이 됩니다.
"""

'''
큰 따옴표로 세번 묶거나
작은따옴표로 세번 묶으면
열단위 주석이 됩니다.
'''

'\n큰 따옴표로 세번 묶거나\n작은따옴표로 세번 묶으면\n열단위 주석이 됩니다.\n'

In [ ]:
# 아래와 같이 열단위 주석으로 text를 넣을 수도 있습니다.
data = '''
큰 따옴표로 세번 묶거나
작은따옴표로 세번 묶으면
열단위 주석이 됩니다.
'''

data

'\n큰 따옴표로 세번 묶거나\n작은따옴표로 세번 묶으면\n열단위 주석이 됩니다.\n'

* Code convention python
* https://google.github.io/styleguide/
* https://google.github.io/styleguide/pyguide.html

connect_to_next_port

In [ ]:
#띄어쓰기 4칸(tab(스페이스 4칸과 다릅니다!), 6칸, 7칸 다 작동합니다.)

In [ ]:
# 아래와 같이 탭과 띄어쓰기 4번을 혼용하시면 error가 납니다.
for i in range(10):
    print(i)
    print('큰 따옴표로 세번 묶거나')

0
큰 따옴표로 세번 묶거나
1
큰 따옴표로 세번 묶거나
2
큰 따옴표로 세번 묶거나
3
큰 따옴표로 세번 묶거나
4
큰 따옴표로 세번 묶거나
5
큰 따옴표로 세번 묶거나
6
큰 따옴표로 세번 묶거나
7
큰 따옴표로 세번 묶거나
8
큰 따옴표로 세번 묶거나
9
큰 따옴표로 세번 묶거나

In [ ]:
a = 10     #int, 정수형
b = 10.1   #float, 실수
c = -1
d = True   #bool, 논리형(부울형, 참거짓형)
e = 'good'
f = '10'   #str, 문자열
g = 'kim'
h = 'honggildong'
i = 'example'
j = 10 + 2j #complex, 복소수
k = 0b110   #int, 2진법 
l = 0o56    #int, 8진법
m = 0xAC    #int, 16진법

##########
def hello():
    return

class A: #자동차 공장
    pass

n = hello # function
o = print # bulit-in function (https://docs.python.org/3/library/functions.html)
p = lambda x:x**2 # function
q = int # type
r = A # class
s = A() # instance # 자동차
##########

print(f'type(10) : {type(a)}')
print(f'type(10.1) : {type(b)}')
print(f'type(-1) : {type(c)}')
print(f'type(True) : {type(d)}')
print(f'type(\'good\') : {type(e)}')
print(f'type(\'good\'.upper) : {type(e.upper)}')
print(f'\'10\' + \'10\' : {f + f}')
print(f'\'10\' * 3 : {f * 3}')
print(f'\'hong\' + \'gildong\' : {g + h}')
print(f'type(\'gildong\') : {type(h)}')
print(f'type(\'gildong100!!\') : {type(i)}')
print(f'type(10 + 2j) : {type(j)}')
print(f'type(0b110) : {type(k)}')
print(k)
print(f'type(0o56) : {type(i)}')
print(i)
print(f'type(0xAC) : {type(m)}')
print(m)
print(f'type(def func():...생략...) : {type(n)}')
print(f'type(print) : {type(o)}')
print(f'type(lambda x:x**2) : {type(p)}')
print(f'type(int) : {type(int)}')

type(10) : <class 'int'>
type(10.1) : <class 'float'>
type(-1) : <class 'int'>
type(True) : <class 'bool'>
type('good') : <class 'str'>
type('good'.upper) : <class 'builtin_function_or_method'>
'10' + '10' : 1010
'10' * 3 : 101010
'hong' + 'gildong' : kimhonggildong
type('gildong') : <class 'str'>
type('gildong100!!') : <class 'str'>
type(10 + 2j) : <class 'complex'>
type(0b110) : <class 'int'>
6
type(0o56) : <class 'str'>
example
type(0xAC) : <class 'int'>
172
type(def func():...생략...) : <class 'function'>
type(print) : <class 'builtin_function_or_method'>
type(lambda x:x**2) : <class 'function'>
type(int) : <class 'type'>

In [ ]:
# 이스케이프 문자
#https://ko.wikipedia.org/wiki/%EC%9D%B4%EC%8A%A4%EC%BC%80%EC%9D%B4%ED%94%84_%EB%AC%B8%EC%9E%90
print('hello \n world')
print('hello \t world')
print('hello \' world')
print('hello \" world')

hello
 world
hello 	 world
hello ' world
hello " world

In [ ]:
# type -> string
hello = 10
print(r'hello \n world') #str -> raw (Django 2.x까지 url parsing을 이렇게 사용하고 있어요.)
print(f'hello \n world{hello}') # 앞으로 f-string 기법
print('hello world{}'.format(hello))

hello \n world
hello
 world10
hello world10

In [ ]:
# type -> float
# 오일러의 수를 모른다 해서, 수학 연산이 약하다 해서 우리 수업에 문제가 되지 않습니다.
print(2.3e3) # 무리수, 오일러 수(2.718에 수렴, 파이가 3.14인 것처럼)
print(2.3E3)

2.3 * (10 ** 3)

2300.0
2300.0

2300.0

In [ ]:
print(2.3e-3) # 무리수, 오일러 수(2.718에 수렴, 파이가 3.14인 것처럼)
print(2.3E-3)

2.3 * (10 ** -3)

0.0023
0.0023

0.0023

In [ ]:
class A: # 자동차 공장
    pass
a= A # class
b= A() # instance # 자동차

print(type(a))
print(type(b))

dir(a)

In [ ]:
dir(a)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [ ]:
# 실무에서 자주 사용하는 구문
type(10)
type(10) == int
type(10.1) == float

True

In [ ]:
# 위만큼 자주사용하진 않지만 타입 확인 코드
a = 10
isinstance(a, int)
isinstance(a, float)

False

##변수

In [ ]:
# CS 변수는 포스트잇
# 변수는 메모리 공간을 가리킵니다.

# x라는 포스트잇도 붙였지만,
# y라는 포스트잇도 붙여져 있는 것입니다.
x = 10
y = 10

id(x), id(y) # id는 누굴 가리키고 있는지 그 주소값을 반홥합니다

(140425315549712, 140425315549712)

In [ ]:
x is y

True

In [ ]:
x = 257
y = 257

id(x), id(y)

(140424067564880, 140424067573392)

In [ ]:
x is y

False

In [ ]:
# Python은 자체적으로 속도를 높이기 위한 
# 여러가지 노력들을 해왔습니다.
# (아래 언급한 것 말고도 각각의 자료형에서 메모리를 효율적으로 관리하기 위한 노력들을 말씀드리겠습니다.)
# 구버전도 말씀을 드릴 것인데 이유는 여러분이 실무에가서 접할 환경이 최신 버전이 아니기 때문입니다.
# 야xx의 경우에는 Django 1.x, python 2.x를 사용하고 있어요. 
# 대부분의 기업들이 한 번 구축해놓은 시스템은 바꾸기가 쉽지 않습니다.

# 그래서 -5 ~ 256은 먼저 메모리에 적재를 합니다.

In [ ]:
x = -5
y = -5

id(x), id(y)

(140425315549232, 140425315549232)

* 변수의 타입이란 무엇인가?
* 변수의 타입은 왜 있는 것일까?
* 어떤 고민을 통해 변수의 속성을 정했을까?

In [ ]:
'a' + 'a'

'aa'

In [ ]:
# 왜 이어 붙였지?
# 컴퓨터 입장에서 a는 97(인간이 보는 숫자) -> 0x61! 결국 숫자!

In [ ]:
# cpython -> 이어 붙이라고 정의가 되어 있어서
# 사회 통념적인 약속 -> 코드로 구현
# type, dir
# 이러한 약속들은 메직메서드(__init__.....)를 통해 구현하게 됩니다.

## 변수의 속성 변경

In [ ]:
'10' + '10'

'1010'

In [ ]:
int('10') + int('10')

20

In [ ]:
# 지금 배우는 포인트는 class가 중요한 문법이 아니라
# 이러한 '약속'을 우리가 변경할 수 있다가 중요한 포인트입니다.
class int(int):
    def __add__(self, a):
        return 'leehojun'

int('10') + int('10')

'leehojun'

In [ ]:
dir(10)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [ ]:
class int(int):
    def 제곱(self, 승수):
        return self ** 승수

value = int('10')
print(dir(value))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes', '제곱']

In [ ]:
value.제곱(3)

1000

In [ ]:
x = 10
y = x
x = 100

print(x,y)
print(id(x), id(y), )

100 10
140425315552592 140425315549712 140425315549712

## 변수의 속성

* 변수는 주로 스네이크 표기법을 많이 사용합니다. 물론 회사 컨벤션에 따르셔야 합니다.
* 영문과 숫자를 사용할 수 있지만, 숫자로  시작하지는 못합니다.
* 특수문자는 사용하지 않아요.(언더바(_)는  사용합니다. 스네이크 표기법, 특수문자나  이미중 사용 가능한 것들이 있기는 합니다.  권하지 않습니다.)
* 예약어는 사용하지 않습니다.(if, elif, while, * for, etc)
* 대소문자는 구분합니다.
* 언더바로만 사용하거나 언더바로 시작할 수 있습니다.
* 대문자로 시작하는 변수를 사용할 수 있지만, 관습적으로 대문자로 시작하는 변수는 Class로 만들기 때문에 소문자로 시작하는 변수를 만들기를 권합니다. Class는 보통 파스칼 표기법을 따릅니다. 다만 회사 컨벤션마다 다릅니다.

In [ ]:
# 스네이크 표기법(Python에서 주로)(_뱀처럼보임)
hello_world = 10
# 카멜 표기법(JavaScript에서 주로)(낙타등처럼 보임)
helloWorldHello = 10
# 파스칼 표기법(Class 같은 곳에서 많이 사용합니다.)
Hello = 10

In [ ]:
# 10hello = 100
hello10 = 100
파이 = 3.14 # 권하지 않습니다.
print(파이)

_ = 100 # 언더바는 자주 사용되는데 이렇게 사용되진 않습니다.
print(_)

3.14
100

In [ ]:
for _ in range(10): # 언더바를 순회 안에서 변수로 사용하지 않을때
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [ ]:
a = 100

In [ ]:
#if = 100
# print = 100

In [ ]:
print('hello')

In [ ]:
print(a)

## 입력과 출력

In [ ]:
x = input()
x

10

'10'

In [ ]:
x + x # 사용자에게 받은 입력은 str

'1010'

In [ ]:
print(10, 10, 10)

10 10 10

In [ ]:
print('hello', 'world', 'hello')

hello world hello

In [ ]:
print(x, x)

10 10

In [ ]:
print('hello world', end='!')
print('hello world', end='!')
print('hello world', end='!')

hello world!hello world!hello world!

In [ ]:
print('hello', 'world', sep='!')
print('010', '5044', '2903', sep='-')

hello!world
010-5044-2903

In [ ]:
이름 = '이호준'
나이 = 10
print('1. 제 이름은 이호준입니다. 제 나이는 10입니다')
print('2. 제 이름은 ', 이름, '입니다. 제 나이는 ', 나이, '입니다', sep='')
print('3. 제 이름은 %s입니다. 제 나이는 %d입니다.' %(이름,나이))
print('4. 제 이름은 {}입니다. 제 나이는 {}입니다.'.format(이름, 나이))
print(f'4. 제 이름은 {이름}입니다. 제 나이는 {나이}입니다.')

1. 제 이름은 이호준입니다. 제 나이는 10입니다
2. 제 이름은 이호준입니다. 제 나이는 10입니다
3. 제 이름은 이호준입니다. 제 나이는 10입니다.
4. 제 이름은 이호준입니다. 제 나이는 10입니다.
4. 제 이름은 이호준입니다. 제 나이는 10입니다.

[포멧코드](https://www.notion.so/paullabworkspace/9fd33417740f4eba8715f5c4a1ed7c7b?v=e01ecdfe2f9448dcaad68b03a38057a5)

##formatting

In [ ]:
print(f'{100*10}')

1000

In [ ]:
#중괄호 안에서 복잡한 연산을 하시는 것을 권하지 않습니다. 가동성이 좋아짐
result= 100 * 10
print(f'{result}')

In [ ]:
#이런 문법은 필요에 의해 검색해 보시다 보면 익숙해집니다.
print(f'{"hello":<10}')
print(f'{"hello":>10}')
print(f'{"hello":^10}')

hello
     hello
  hello

In [ ]:
txt = 'hello'
i = 10
print(f'{"hello":=<10}')
print(f'{"hello":=>10}')
print(f'{"hello":=^10}')

hello=====
=====hello
==hello===

In [ ]:
# 
잊으셔도 됩니다.

bin(9)
print(f'{bin(9)[2:]:0>5}')

01001

In [ ]:
#요정도 활용을 합니다.
print(f'{"start":-^20}')

-------start--------

In [ ]:
print(f'{0.12345:0.2f}')

0.12

* 이 아래 코드는 필수는 아닙니다.
참고삼아서만 넣어드립니다.

In [ ]:
# 이전 방식
print('나의 이름은 %s입니다'%('한사람'))
print('나의 이름은 "%s"입니다. 나이는 %d세이고 성별은 %s입니다.'%('한사람',33,'남성'))
print('나이는 %d세이고 성별은 %s입니다. 나의 이름은 %s입니다. '%(33,'남성','한사람'))
print('나이는 %03d세이고 신장은 %6.2f입니다. 나의 이름은 %s입니다. '%(33,56.789,'한사람'))
print('-' * 40)

# 파이썬(Python) 3 포맷팅 방식
print('나의 이름은 {}입니다'.format('한사람'))
print('나의 이름은 {0}입니다. 나이는 {1}세이고 성별은 {2}입니다.'.format('한사람',33,'남성'))
print('나이는 {1}세이고 성별은 {2}입니다. 나의 이름은 {0}입니다. '.format('한사람',33,'남성'))
print('나이는 {age}세이고 성별은 {gender}입니다. 나의 이름은 {name}입니다. '
         .format(name='한사람',age=33,gender='남성'))
print('만세삼창 :  {0}!!! {0}!!! {0}!!! '.format('만세'))
print('삼삼칠 박수 :  {0}!!! {0}!!! {1}!!! '.format('짝'*3,'짝'*7))
print('-' * 40)

# 파이썬(Python) 3.6 f-string 방식
something = '볼펜'
EA = 2
one_length = 5.343
scale = 'cm'

print(f'{something} {EA}개의 길이는 {one_length*EA}{scale} 입니다.')
print(f'{something} {EA}개의 길이는 {one_length*EA:.1f}{scale} 입니다.')

나의 이름은 한사람입니다
나의 이름은 "한사람"입니다. 나이는 33세이고 성별은 남성입니다.
나이는 33세이고 성별은 남성입니다. 나의 이름은 한사람입니다.
나이는 033세이고 신장은  56.79입니다. 나의 이름은 한사람입니다.
----------------------------------------
나의 이름은 한사람입니다
나의 이름은 한사람입니다. 나이는 33세이고 성별은 남성입니다.
나이는 33세이고 성별은 남성입니다. 나의 이름은 한사람입니다.
나이는 33세이고 성별은 남성입니다. 나의 이름은 한사람입니다.
만세삼창 :  만세!!! 만세!!! 만세!!!
삼삼칠 박수 :  짝짝짝!!! 짝짝짝!!! 짝짝짝짝짝짝짝!!!
----------------------------------------
볼펜 2개의 길이는 10.686cm 입니다.
볼펜 2개의 길이는 10.7cm 입니다.

In [ ]:
print('Python is [{:15}]'.format('good'))
print('Python is [{:<15}]'.format('good'))
print('Python is [{:>15}]'.format('good'))
print('Python is [{:^15}]'.format('good'))
print('당신의 나이는 [{:15}]세'.format(22))
print('당신의 나이는 [{:<15}]세'.format(22))
print('당신의 나이는 [{:>15}]세'.format(22))
print('당신의 나이는 [{:<15}]세'.format(22))
print('-' * 40)

Python is [good           ]
Python is [good           ]
Python is [           good]
Python is [     good      ]
당신의 나이는 [             22]세
당신의 나이는 [22             ]세
당신의 나이는 [             22]세
당신의 나이는 [22             ]세
----------------------------------------

##int

* 파이썬에서는 숫자를 정수, 실수, 복소루로
나눠 표현합니다.
* 2진수, 8진수, 16진수는 정수로 표현됩니다.

In [ ]:
10 # 정수
-10 # 정수
10.1 # 실수

a= 10
type(a)
dir(a)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [ ]:
'bit_length' #bit로 바꾸었을 때 비트의 길이
'to_bytes' #컴퓨터에 저장하는 바이트의 형태로 숫자를 표현

In [ ]:
# 1Bit, 0 ~ 1 # bit - 1자리
# 1Bytes = 8bit, 00000000 ~ 11111111 # 1byte - 8bit
# 1KB (키로바이트) = 1024Bytes
# 1MB (메가파이트) = 1024Kb
# 1GB (기가바이트) = 1024MB
# 1TB (테라바이트) = 1024GB
# 1PB (페타바이트) = 1024TB

In [ ]:
(9).bit_length() # 1001

4

In [ ]:
# 컴퓨터가 숫자를 어떻게 저장하는가
(2).to_bytes(1, byteorder='little', signed=True)
(1).to_bytes(1, byteorder='little', signed=True)
(0).to_bytes(1, byteorder='little', signed=True)
(-1).to_bytes(1, byteorder='little', signed=True)
(-2).to_bytes(1, byteorder='little', signed=True)

b'\xfe'

In [ ]:
# 컴퓨터는 음수를 자체적으로 표현할 수 없기에 2의 보수를 사용합니다.
# 1의 보수를 사용하게 되면 +0과 -0이 존재하게 됨으로 비트 하나를 낭비하게 됩니다.
# 따라서 2의 보수를 사용합니다.

In [ ]:
0000 0001 # 1
1111 1110 # 1의 1의 보수
1111 1111 # 1의 2의 보수 => ff

In [ ]:
# 진법 변환 쉽게 하는 법 : 가장 가까운 승수를 찾아 더하거나 뺍니다
# 10진법
# 0 1 2 3 4 5 6 7 8 9
# 1324 =1*10^3 3*10^2 2* 10^1 + 4*10^0

# 2진법
#0 1 -> 10
# 1001 =1*2^3 + 1*2^0

# 8진법
# 0 1 2 3 4 5 6 7 -> 10

# 16진법
# 0 1 2 3 4 5 6 7 8 9 a b c d e f ->

In [ ]:
# color의 표현
# 2596be
# 000000 ~ ffffff
# ff는 10진수로 무슨 숫자를 의미
# 100-1 => ff가 됩니다. 그래서 256 - 1

In [ ]:
a = 10
type(a)

int

In [ ]:
int('10') + int('10')

20

In [ ]:
int('10', 2) #  2진법으로 10은?

2

In [ ]:
int('10', 8) #  8진법으로 10은?

8

In [ ]:
int('10', 16) #  16진법으로 10은?

16

In [ ]:
print(0b110) # 바이너리 - 2진수
print(0o110) # 옥타 - 8진수
print(0x110) # 헥사 - 16진수

In [ ]:
a = 10
type(a) == isinstance(a, int)

False

##float (실수)

In [ ]:
dir(a)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [ ]:
a = 10
b = 10.1
a+b # 다른 일부 언어에서는 허용되지 않습니다.

20.1

In [ ]:
# 부동소수점 오차(2진법으로 변환했을 때 0.1이 무한대수가 발생합니다.)
0.1 + 0.2 # 대부분의 언어 공통입니다.

0.30000000000000004

In [ ]:
a = 0.1

In [ ]:
# 20번 반복해 보세요.
a = a + 0.1
a

2.0000000000000004

* https://docs.python.org/ko/3/tutorial/floatingpoint.html
* https://0.30000000000000004.com/ 에서 언어별 해결책을 제시한다.
* 컴퓨터에서 부동소수점 숫자는 2진 분수로 표현되기에 무한대수가 발생한다.
* [무한수가 발생되는 원리](https://www.notion.so/paullabworkspace/5f34f21bf9a34015b170e7afd7da9593)

In [ ]:
'hello'.count('')

6

## 오늘 배운 것 정리
1. 단축키
    * (필수) Ctrl(Command) + Enter : 해당 셀 실행
    * (필수) Alt(Option) + Enter : 해당 셀 실행 + 코드 불록 하단 추가
    * (필수) Ctrl + / : 주석
    * (필수) Shift + Del : 한 줄 지우기
    * (필수) Tab, Ctrl + ] : 들여쓰기
    * (필수) Shift + Tab, Ctrl + [ : 내어쓰기

2. 마크다운
    ```
    # hello
    ## hello
    ### hello

    1. hello
    2. hello
    3. hello

    * hello
    * hello
    * hello
    ```

3. 주석

    ```python
    #행 단위 주석입니다.

    """
    큰 따옴표로 세번 묶거나
    작은따옴표로 세번 묶으면
    열단위 주석이 됩니다.
    """

    '''
    큰 따옴표로 세번 묶거나
    작은따옴표로 세번 묶으면
    열단위 주석이 됩니다.
    '''
    ```

4. PEP8 권고사항
    * 띄어쓰기는 4칸
    * 한 줄에 79자 이상을 사용하지 않는다.

5. 형의 종류(type, dir)
    * 컨벤션 자료형(list, tuple, dict, set)은 나중에 진행합니다.
    * int
    * float
    * bool
    * str
    * function
    * bulit-in function

6. 이스케이프 문자
    * https://ko.wikipedia.org/wiki/%EC%9D%B4%EC%8A%A4%EC%BC%80%EC%9D%B4%ED%94%84_%EB%AC%B8%EC%9E%90
    ```python
    print('hello \n world')
    print('hello \t world')
    print('hello \' world')
    print('hello \" world')
    print('hello \\ world')
    ```

7. 실무에서 자주 사용하는 타입확인 구문
    ```python
    type(10)
    type(10) == int
    type(10.1) == float

    a = 10
    isinstance(a, int)
    isinstance(a, float)
    ```

8. 변수의 인사이트
    ```
    dir을 입력했을 때
    1. __hello__와 같은 형태의 메직 메서드는 속성을 표현한다
    2.  언더바가 없는 메서드는 해당 자료형의 편의 기능을 제공한다
    ```

9. 입력과 출력
    ```python
    x = input() #입력, 숫자를 입력해도 str
    print(x) #출력

    이름 = '이호준'
    나이 = 10
    print(f'제 이름은 {이름}입니다. 제 나이는 {나이}입니다.')
    print(f'{100 * 10}')
    ```


10. int 형
    * 2진수, 8진수, 16진수는 정수


11. float 형
... (4줄 남음)

###str (문자열)

- 순서가 있는 **시퀀스 자료형**입니다.
- 작은 따옴표('')나 큰 따옴표(""), 삼중따옴표('''str''',"""str""")로 중 따옴표를 사용할 경우에는 줄 단위의 문자열을 나타낼 수 있습니다).
- 작은 따옴표 안에 큰 따옴표, 큰 따옴표 안에 작은따옴표 사용이 가능합니다.
- 이스케이프 문자도 사용이 가능합니다.
- 리스트, 튜플도 시퀀스 자료형입니다.

In [ ]:
s= 'paullab CEO leehojun'
s[0] # 0은 index입니다. 이렇게 호출하는 것을 indexing 이라고 합니다.

'p'

In [ ]:
type(s)

str

In [ ]:
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
# 문자열의 메서드
# 'capitalize','casefold','center','count','encode',
# 'endswith','expandtabs','find','format','format_map',
# 'index','isalnum','isalpha','isascii','isdecimal','isdigit',
# 'isidentifier','islower','isnumeric','isprintable','isspace',
# 'istitle','isupper','join','ljust','lower','lstrip',
# 'maketrans','partition','removeprefix','removesuffix',
# 'replace','rfind','rindex','rjust','rpartition','rsplit',
# 'rstrip','split','splitlines','startswith','strip','swapcase',
# 'title','translate','upper','zfill'

In [ ]:
s = 'paullab CEO leehojun'
s. lower() , s.upper() 
# 특히 사용자에게 입력을 받는 경우 lower도 많이 사용합니다.

('paullab ceo leehojun', 'PAULLAB CEO LEEHOJUN')

In [ ]:
s = 'payylab CEO leehojun'
s.find('C'), s.index('C')

(8, 8)

In [ ]:
# 견고한 코드란?
# 시간이 지나도 그대로 사용할 수 있고
# error가 예측 가능하게 나는 코드
# 네이버에 이미지 슬라이딩 코드
# bool(s.find('Z')) => -1은 True이기 때문에 주의가 필요합니다.
s.find('Z')

True

In [ ]:
# Error가 나면 Error를 주는 것이 좋을 수 있습니다.
# Error를 안주는 언어로 JavaScript
s.index('Z')

ValueError: ignored

In [ ]:
s = 'pauulab CEO leehojun'
s.find('CEO')

8

In [ ]:
# 별 5개
s = 'paullab CEO leehojun'
s.count('l')

3

In [ ]:
str([1, 2, 3, 4, 5,])

'[1, 2, 3, 4, 5]'

In [ ]:
str([1, 2, 3, 4, 5]).count(' ')

4

In [ ]:
str([1, 2, 3, 4, 5]).count(',')

4

In [ ]:
str([1, 2, 11, 4, 111]).count('1')

6

In [ ]:
str(list(range(0, 10001))).count('8')

4000

*https://codingdojang.com/scode/393?answer_mode=hide

In [ ]:
str([1,
     2,
     3,
     4,
     5]).count(' ')
# list는 콤마 다음에 공백이 없더라고 공백으로 인식해줍니다.

4

In [ ]:
'hello'.count('')

6

In [ ]:
'a'.count('')

2

In [ ]:
''.count('')

1

In [ ]:
''+''

''

In [ ]:
'  hello  !  '.strip() # 공백제거 메서드

'hello  !'

In [ ]:
'  hello  !  '.rstrip()

'  hello  !'

In [ ]:
'  hello  !  '.lstrip()

'hello  !  '

In [ ]:
# 별 5개
'hello world hi'.replace('','!')
'hello world hi'.replace('world', 'W@O@R@L@D').upper()

'HELLO W@O@R@L@D HI'

In [ ]:
'hello world hi'.replace('world', 'W@O@R@L@D').upper().split("@")
# 반환값이 list이기 떄문에 메서드 체이닝을 하려면 
# 이후로 list 메서드를 사용해야 합니다.

['HELLO W', 'O', 'R', 'L', 'D HI']

In [ ]:
'hello world hi'.replace(' ','')

'helloworldhi'

In [ ]:
data = '''  "+ +-+ -+-"  
  "++ -- +-+"  
  "++-+ -+ -"  
  "+ ++-+ -+"  '''
  
data.split('\n')[0].replace(' ', '').replace('"', '')
# Pythonic하지 않다!
data.split('\n')[0].replace(' ', 
                '').replace('"', 
                '')
# Pythonic하게 하려면
data.split('\n')[0]\
                .replace(' ', '')\
                .replace('"', '')\
                .replace('"', '')\
                .replace('"', '')\
                .replace('"', '')\
                .replace('"', '')\
                .replace('"', '')\
                .replace('"', '')\

#제가 사용하는 기법
processed_string= data.split('\n')[0].replace(' ', '').replace('"','')
processed_string.replace('"', '').replace('"', '')

'++-+-+-'

In [ ]:
# aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa 79자
# 아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아 39자

In [ ]:
data = '''  "+ +-+ -+-"  
  "++ -- +-+"  
  "++-+ -+ -"  
  "+ ++-+ -+"  '''

data.split('\n')[0].replace(' ','').replace(' ','').replace('"','').replace('+', '1').replace('-', '0')
ord('A'), chr(65) #ord는 문자를 가지고 숫자로 변경 chr은 숫자를 가지고 문자로 변경합니다.
숫자 = data.split('\n')[0].replace(' ','').replace(' ','').replace('"','').replace('+', '1').replace('-', '0')
int(숫자, 2)
chr(int(숫자, 2))

'j'

In [ ]:
# 별 4.5개
'paullab CEO leehojun'.split(' ') #문자열을 쪼개어 줍니다.
'paullab!CEO!leehojun'.split('!')
'paullab,CEO,leehojun'.split(',')

['paullab', 'CEO', 'leehojun']

In [ ]:
'010 5044 2903' # 1번
'010-5044-2903' # 2번
'010 5044-2903' # 3번

'010 5044-2903'

In [ ]:
['010', '5044', '2903']

['010', '5044', '2903']

In [ ]:
'010 5044 2903'.split(' ')
'010-5044-2903'.split('-')
'010 5044-2903'.replace('-', ' ').split()

['010', '5044', '2903']

In [ ]:
'010 5044 2903'.split(' ')
'010-5044-2903'.split('-')
'010 5044-2903'.replace(' ', '-').split('-')

['010', '5044', '2903']

In [ ]:
'010 5044 2903'.split() # 공백단위가 들어가게 됩니다.

['010', '5044', '2903']

In [ ]:
#'01050442903'.split('') # 빈 문자열을 넣지는 못합니다

In [ ]:
list(map(int, '010 5044 2903'.split(' ')))

[10, 5044, 2903]

In [ ]:
int('010')

10

In [ ]:
# print (010) #error

In [ ]:
num = '010 5044-2903'.replace('-',' ').split(' ')
[int(i) for i in num] # 리스트 컴프리헨션 사용
list(map(int, '010 5044 2903'.split(' ')))

# 2개 모두 새로운 리스트를 만드는 것입니다.
# 원본을 변경시키지 않습니다.

[10, 5044, 2903]

In [ ]:
s = []
for i in '010 5044-2903'.replace('-',' ').split(' ') 
    s.append(int(i))
s

# 요 코드를 추천합니다.
[int(i) for i in num]

SyntaxError: ignored

In [ ]:
# 지금 진도에서 과하기 때문에 
# 뒤에서 상세하게 다룹니다
# 지금은 잊으셔도 됩니다.
def 제곱함수(x):
    return x ** 2

def 정수함수(x):
    return int(x)

list(map(제곱함수, [1, 2, 3]))
list(map(정수함수, ['1', '2', '3']))
list(map(int, ['1', '2', '3']))

list(map(int, ['010', '5044', '2903']))
list(map(int,'010 5044 2903'.split(' ')))

[10, 5044, 2903]

In [ ]:
# 별 4.5 개
'~'.join(['hello', 'world', 'hello'])
'!'.join(['hello', 'world', 'hello'])
''.join(['hello', 'world', 'hello'])
' '.join(['hello', 'world', 'hello'])

'hello world hello'

In [ ]:
'hello'.isalpha()

True

In [ ]:
'he llo'.isalpha()

False

In [ ]:
'123'.isdigit()

True

In [ ]:
'12a3'.isdigit(), '12 3'.isdigit()

(False, False)

In [ ]:
'12a3'.isalnum(), '12 3'.isalnum()

(True, False)

In [ ]:
'안녕하세요!'.isalpha(), '안녕하세요!'.isalnum()

(False, False)

In [ ]:
#퀴즈
# 숫자를 모두 더하라!

result = 0
for i in'123abc913sldlf':
    # print(i.isdigit())
    if i.isdigit():
        result += int(i) #result = result + int(i)
result

19

In [ ]:
result = 0
for i in '123abc913sldlf':
    if i.isdigit():
        result += int(i)
result

19

In [ ]:
'paullab CEO leehojun'.isascii()

True

In [ ]:
'paullab CEO leehojun'.rjust(30) #오른쪽 정렬
'paullab CEO leehojun'.ljust(30) #왼쪽 정렬
'paullab CEO leehojun'.center(30)#가운데 정렬

'     paullab CEO leehojun     '

In [ ]:
'hello'.zfill(20)

'000000000000000hello'

In [ ]:
'1001'.zfill(5)
'hello'.zfill(10).replace('0', '-')

'-----hello'

In [ ]:
규칙테이블 = str.maketrans({'\n':'', '\t':''})
'paullab \n\n\n CEO \t\t\t leehojun'.translate(규칙테이블)

'paullab  CEO  leehojun'

In [ ]:
'paullab \n\n\n CEO \t\t\t leehojun'.replace(\n, '')

SyntaxError: ignored

In [ ]:
# aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa => 80자
# 아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아 => 42자면 한글 넘어갑니다.
# line에 딱 맞춰 들어간 것을 볼 수 있습니다. 
# 강제사항은 아닙니다.
# 띄어쓰기 4번도 강제사항은 아닙니다.
# pep8, pep 20에 기술되어 있습니다. => pep(Python Enhancement Proposal)란 무엇인가요? 8이란 무엇인가요?
# pep8 : Style Guide for Python Code(https://peps.python.org/pep-0008)
# pep20 : The Zen of Python(https://peps.python.org/pep-0020) # 이스터에그로 숨겨져 있습니다.
# https://peps.python.org/

### cpython

* 공식홈페이지에서 다운로드 받는 것이 cpython입니다.
* https://github.com/python/cpython/blob/main/Objects/listobject.c
* list를 구현한 코드 : https://github.com/python/cpython/blob/main/Objects/listobject.c

In [ ]:
name = 'Guido van Rossum'
print(name[0])
print(name[1])
print(name[2])

G
u
i

In [ ]:
# s[start:stop:step]
s= 'paullab CEO leehojun'
s[5:]
s[:5]
s[3:10]
s[:]
s[0:20:2]

'pulbCOleou'

In [ ]:
# 자주 사용되는 코드
s= 'paullab CEO leehojun.'
s[:] # string에서는 많이 사용하지 않지만 list에서 많이 사용합니다.
s[:-1] # 마지막 요소만 제외하고 다 슬라이싱 합니다.

'paullab CEO leehojun'

In [ ]:
test = [1, 2, 3, 4,]
test2 = test
test2[0] = 1000
test, test2

([1000, 2, 3, 4], [1000, 2, 3, 4])

In [ ]:
test = [1, 2, 3, 4,]
test2 = test[:] # 새로운 리스트를 만들어서 test2에게 줍니다.
test2[0] = 1000
test, test2

([1, 2, 3, 4], [1000, 2, 3, 4])

## 문자열의 연산

In [ ]:
s = 'hello world'
dir(s)
s + s
s * 3

'hello worldhello worldhello world'

## 형변환

* 형변환 : type을 변경하는 것입니다.

In [ ]:
x = int(input())
x + x # but 알파벳 입력하면 error!

In [ ]:
x = input()
if x.isdigit():
    x = int(x) # but 알파벳 입력하면 error!
x + x

In [ ]:
# int('abc') # error
int(10.1) # 버림
int('10') # 형변환 가능
int('10.1') # 형변환 불가능

ValueError: ignored

In [ ]:
float('10') # 형변환 가능
float('10.1') # 형변환 가능

10.1

In [ ]:
int('10a') # 되는 언어가 있어서 보여드린 것입니다.
# Python에서는 허용하지 않습니다.

In [ ]:
def hello():
    pass

str('123')
str(True)
str(None)
str(type)
str(hello)
str([1, 2, 3])
str({1, 2, 3})
str({'one':1, 'two':2})

"{'one': 1, 'two': 2}"

In [ ]:
# 별 5개
if 'True':
    print('hi')

    if 'hello':
        print('hi')

# 정말 많이 사용하는 코드
l = [1, 2, 3]
while l:
    print(l.pop())

bool('') # 빈 문자열을 제외하고 모두 True
bool('a')
bool('False') #문자열 False이기 때문에 True
bool('0') # 0을 제외하고 모두 True
bool(-1)
bool(100)
bool(None) # None은 비어있음을 명시해주는 키워드. False
bool([])
bool({})

hi
hi
3
2
1

False

In [ ]:
# list로 형변환
s = '10'
l = list(s)
l

['1', '0']

In [ ]:
s = 'leehojun'
l = list(s)
l

['l', 'e', 'e', 'h', 'o', 'j', 'u', 'n']

In [ ]:
# tuple로 형변환
s = 'leehojun'
l = tuple(s)
l

('l', 'e', 'e', 'h', 'o', 'j', 'u', 'n')

In [ ]:
# dict
# name = 'leehojun' # error
# dict(name)

s = [('name','leehojun'), ('age',10)]
d = dict(s)
d

{'name': 'leehojun', 'age': 10}

In [ ]:
# set(집합)으로 형변환
name = 'leehojun'
set(name)

{'e', 'h', 'j', 'l', 'n', 'o', 'u'}

In [ ]:
len('hello world') # __len__
len([1, 2, 3, 4])

4

In [ ]:
user_input = input('문자를 입력해주세요!')
print(user_input * 2)

In [ ]:
# 3번
num = 1234567890
list(str(num))
list(str(num))[3]

'4'

In [ ]:
a = 10
b = 3

print(f'10 + 3 == {a + b}')
print(f'10 - 3 == {a - b}')
print(f'10 / 3 == {a / b}')
print(f'10 // 3 == {a // b}') # 몫만 나옵니다.(정수만요!)
print(f'10 * 3 == {a * b}')
print(f'10 ** 3 == {a ** b}')
print(f'10 % 3 == {a % b}') # 나머지

10 + 3 == 13
10 - 3 == 7
10 / 3 == 3.3333333333333335
10 // 3 == 3
10 * 3 == 30
10 ** 3 == 1000
10 % 3 == 1

In [ ]:
# 연산자 우선순위는 and, or, 4칙연산, 제곱 정도만 아셔도
# 코딩하는데 큰 무리가 없습니다.(모르시면 읽는데 문제가 생기기도 합니다.)
print(3 ** 2 * 3)
print(3 * 3 ** 2) # 왜 81이 아니지?
# 곱하기 보다 제곱이 우선순위가 더 높습니다.
print(3 + 3 * 2) # 3 + 3부터 먼저 하지 않습니다.

27
27
9

In [ ]:
a = 10
b = 3

print(f'10 > 3 == {a > b}')
print(f'10 >= 3 == {a >= b}')
print(f'10 < 3 == {a < b}')
print(f'10 <= 3 == {a <= b}') # 몫만 나옵니다.(정수만요!)
print(f'10 == 3 == {a == b}')
print(f'10 != 3 == {a != b}')

## 논리연산

In [ ]:
# and 는 곱
# or 는 합
# not은 반대
# True 1
# False 0
# 중요한 포인트는 저렇게 했을 때 언제 True가 되는지 정리하는 것

print(True and False)
print(True or False)
print(True or True)

print(True and False)
if True and False:
    print('hello')

if 10 > 3 and 8 % 3 == 0:
    print('hello')

#and는 언제 True가 되나요?
#모두 True일 때
#or는 언제 True가 되나요?
#둘 중에 하나라도 참이라면 True

False

In [ ]:
# https://codingdojang.com/scode/350?answer_mode=hide
for i in range(101):
    if i % 3 == 0 and i % 5 == 0:
        print(i)

0
15
30
45
60
75
90

In [ ]:
result
for i in range(101):
    if i % 3 == 0 or i % 5 == 0:
        print(i)

0
3
5
6
9
10
12
15
18
20
21
24
25
27
30
33
35
36
39
40
42
45
48
50
51
54
55
57
60
63
65
66
69
70
72
75
78
80
81
84
85
87
90
93
95
96
99
100

In [ ]:
result = 0
for i in range(101):
    if i % 3 == 0 : 
        result += i # result = result + i
    if i % 5 == 0 :
        result +=i
    if i % 15 == 0:
        result -= i
print(result)

2418

In [ ]:
result = 0
for i in range(101) :
    if i % 3 == 0 or i % 5 == 0:
        result += i
result

2418

In [ ]:
not True

False

In [ ]:
not False

True

In [ ]:
# python 입장에서 보는 코드
# False and ????? => 물음표에 무엇이 나오든 False
# 그래서 Python도 저 물음표를 보지 않습니다.
def solution():
    1/0

if False and solution():
    print('hello')

In [ ]:
# False and ????? => 물음표에 무엇이 나오든 False
# 그래서 Python도 저 물음표를 보지 않습니다.
def solution():
 1/0

if True and solution():
    print('hello')

In [ ]:
# 단락 평가(컴퓨터가 어디까지 보는지 판단해서 활용)
username = '' # 사용자가 아무것도 입력하지 않았을 경우
username = username or 'licat'
username

'licat'

In [ ]:
username = 'leehojun' # 사용자가 이름을 입력했을 경우
username = username or 'licat'
username

'leehojun'

In [ ]:
# and와  or의 우선순위(and가 더 높습니다.)
for i in range(101):
    if i % 3 == 0 and i % 5 == 0 or i % 2 == 0:
        print(i)

for i in range(101):
    if (i % 3 == 0 and i % 5 == 0) or i % 2 == 0:
        print(i)

In [ ]:
# 아래는 출력되는 값이 다릅니다! 우선순위가 낮은 or가 먼저 나왔기 때문
# 헷갈리면 괄호 사용하기

for i in range(21):
    if (i % 3 == 0 or i % 5 == 0) and i % 2 == 0:
        print(i)

for i in range(21):
    if i % 3 == 0 or i % 5 == 0 and i % 2 == 0:
        print(i)

## 비트연산 (중요도 하)

In [ ]:
# and 
# 1001 == 9
# 0010 == 2
# ----
# 0000

In [ ]:
9 & 2

0

In [ ]:
9 & 8
1001==9
1000==8
----
1000

In [ ]:
9 & 8

8

In [ ]:
# or( 더하기, 대신 자리올림이 되진 않습니다.) 
# 1001 == 9
# 0011 == 3
# ----
# 1011 == 11
9 | 3

11

In [ ]:
# xor(같을 경우 0, 다를경우 1) 
# 1001 == 9
# 0011 == 3
# ----
# 1010 == 10
9 ^ 3

10

In [ ]:
~9 # 2보수를 취하는 것입니다.(9에게 +1한 다음에 -를 취하시면 됩니다.)
~-7 # 2보수를 취하는 것입니다.(7에게 +1한 다음에 0를 취하시면 됩니다.)

6

In [ ]:
3 << 2 
# 2을 2진수로 표현하면 11인데 2칸을 왼쪽으로 미는 것입니다.
# 1100

12

In [ ]:
7 >> 2

1

## 할당연산

In [ ]:
# a = 10
# a = a + 10

a = 10
a =  + 10 # 이렇게 a를 지우면 양수를 표현하는 10만 남아요 
a

10

In [ ]:
a = 10
a += 10 # a= a + 10
a

20

In [ ]:
a = 10
a //= 10 # 산술연산 모두 됩니다.
a

1

In [ ]:
# Python에서 특이하게 ++a, ++b, a++, b++가 없습니다

## 식별연산자

In [ ]:
# 앞으로 아래 2개를 활용해서 Python에 
# 컨벤션 자료형이 어떻게 구성이되는지 확인해볼겁니다.
# id()
# is

In [ ]:
a = 256
b = 256
a is b

True

In [ ]:
a = 999
b = 999
a is b

False

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]

140114648489984

In [ ]:
a[0] = 100
a, b

([100, 2, 3], [1, 2, 3])

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]
a == b # Python에 등호는 type과 value를 봅니다.

True

In [ ]:
# is는 주소값을 비교합니다.
id(a) == id(b) # 이게 False면 is도 False입니다.

## not의 위치

In [ ]:
a =10
b =100
a is not b
# a not is b # error

True

In [ ]:
a = 10
b = [10, 20, 30]
a not in b

False

## 멤버연산

In [ ]:
'a' in 'helalo world'
'a' in 'hello world'
'a' in ['a', 'b']
'a' in {'a':10, 'b':20}
#'10' in {'a':10, 'b':20} # dict안에있는 value값이 있는지 확인하고 싶으면
10 in {'a':10, 'b':20}.values()
10 in {10, 20, 30}

True

In [ ]:
'a' not in ['aa', 'bb']

True

In [ ]:
10 in [10, 20, 30]
[10] in [10, 20, 30]
[10] in [[10], 20, 30]
[10, 20] in [10, 20, 30]
[10, 20] in [[10, 20], 30]
set ([10, 20]).issubset(set([10, 20, 30]))
{10, 20}.issubset({10, 20, 30, 40})

True

## 연습문제

In [ ]:
#1번
a = 100
(a > 100) and (a < 200)
(a > 100) or (a< 200)
(a >= 100) and (a <= 200)
(a >= 100) or ( a <= 200)

True

In [ ]:
#2번
b = 25
(b % 2 == 0) and (b % 5 == 0)

25

In [ ]:
#3번
c = 1000
c / 100
c // 100

10

In [ ]:
#4번
# 그리디 알고리즘(욕심쟁이 알고리즘)
남은금액 = int(input())

오천원 = 남은금액 // 5000
남은금액 = 남은금액 % 5000

천원 = 남은금액 // 5000
남은금액 = 남은금액 % 1000

오백원 = 남은금액 // 500
남은금액 = 남은금액 % 500

백원 = 남은금액 // 100
남은금액 = 남은금액 % 100

print(오천원, 천원, 오백원, 백원)

8800

## !!오늘 배운 것 정리

1. str
    - 순서가 있는 **시퀀스 자료형**입니다.
    - 작은 따옴표(' ')나 큰 따옴표(" "), 삼중따옴표('''str''', """str""")로 감싸는 것도 가능합니다. (삼중따옴표를 사용할 경우에는 줄단위의 문자열을 나타낼 수 있습니다.)
    - 작은 따옴표 안에 큰 따옴표, 큰 따옴표 안에 작은 따옴표 사용이 가능합니다.
    - 이스케이프 문자도 사용이 가능합니다.
    - 리스트, 튜플도 시퀀스 자료형입니다.
    - 메서드
        - lower
        - index, find
        - count
        - strip
        - replace
        - split, join
        - isdigit
2. 슬라이싱
    - 시퀀스형 자료형을 자를 수 있습니다.
    - 형태
    ```
    # s[start:stop:step]
    s = 'paullab CEO leehojun'
    s[5:]
    s[:5]
    s[3:10]
    s[:]
    s[0:20:2]
    # 자주 사용되는 코드
    s = 'paullab CEO leehojun!'
    s[:] # string에서는 많이 사용하지 않지만 list에서 많이 사용합니다.
    s[:-1] # 마지막 요소만 제외하고 다 슬라이싱 합니다.
    ```

3. 형변환
    - 형변환 : type을 변경하는 것입니다.
    - int, float, str 등 자료형에 이름으로 형태를 변경할 수 있습니다.
    - 그 중에서도 bool이 매우 중요합니다.
    ```
    # 별 5개
    # bool 형으로 형변환 하는 것
    if True:
        print('hi')

    if 'hello':
        print('hi')

    # 정말 많이 사용하는 코드
    l = [1, 2, 3]
    while l:
        print(l.pop())

    bool('') # 빈 문자열을 제외하고 모두 True
    bool('a')
    bool('False') # 문자열 False이기 때문에 True
    bool(0) # 0을 제외하고 모두 True
    bool(-1)
    bool(100)

##함수

1. 코드를 재사용 할 수 있으며, 실수를 줄일 수 있습니다.
2. 코드의 구조를 한 눈에 파악할 수 있습니다.

In [ ]:
# 파선아실(파라미터는 선언할 때, 아규먼트는 실제)
def function(x, y):
    z = x + y
    return z
print(f'function(5, 7) = {function(5, 7)}')

In [ ]:
# 같은 코드 1
def function(x, y):
    z = x + y
print(f'function(5, 7) = {function(5, 7)}')

function(5, 7) = None

In [ ]:
# 같은 코드 2
def function(x, y):
    z = x + y
    return None
print(f'function(5, 7) = {function(5, 7)}')

function(5, 7) = None

In [ ]:
# 같은 코드 3
def function(x, y):
    z = x + y
    return 
print(f'function(5, 7) = {function(5, 7)}')

function(5, 7) = None

In [ ]:
def hello():
    print('1')
    print('2')
    print('3')

print(hello())

1
2
3
None

In [ ]:
# 함수 연습문제 1
def one():
    print('one1')
    print('one2')
    print('one3')
    return 100
def two():
    print('two1')
    print('two2')
    one()
    return
    

print(two())

two1
two2
one1
one2
one3
None

In [ ]:
# 함수 연습문제 2
def one():
    print('one1')
    print('one2')
    print('one3')
    return 100
def two():
    print('two1')
    print('two2')
    x = one()
    return x + x
    

print(two())

# two1
# two2
# one1
# one2
# one3
# 200

two1
two2
one1
one2
one3
200

In [ ]:
# 함수 연습문제 3
def one(a, b):
    print('one1')
    print('one2')
    print('one3')
    return a + b
def two(x):
    y = 100
    print('two1')
    print('two2')
    x = one(x, y)
    return x + x
    

print(two(10))

# two1
# two2
# one1
# one2
# one3
# 220

two1
two2
one1
one2
one3
220

In [ ]:
# 함수 연습문제 4
def one():
    print('one')
    return 10

def two():
    print('two')
    return 10

def three():
    print('three')
    return 10

a = one()
b = two()
c = three()
print(a + b)
print(a + b + c)

one
two
20
one
two
three
30

In [ ]:
# 함수 연습문제 4
# 좋지 않은 예 입니다!
def one():
    print('one')
    print('one')
    print('one')
    return 10

def two():
    print('two')
    print('two')
    print('two')
    return 10

def three():
    print('three')
    print('three')
    print('three')
    return 10

print(one() + two())
print(one() + two() + three())

In [ ]:
# 함수란 무엇일까요?
# 함수의 이름은 메모리 상에 코드 블럭을 가리키는 변수입니다.
leehojun = print
leehojun('hello') # 소괄호는 그 함수 블록을 실행시키는 명령어가 됩니다.

hello

In [ ]:
id(leehojun), id(print)

(140179417388336, 140179417388336)

In [ ]:
l = [leehojun, print, leehojun, print]
leehojun('hello world')
l[0]('hello world')

hello world
hello world

In [ ]:
def hello(a):
    a('hello')
    a('hello')
    a('hello')

print(hello(print))

In [ ]:
def hello():
    def custom_sum(a, b):
        return a + b
    return custom_sum

c = hello()

c(10, 100)

110

In [ ]:
def hello():
    return a

c = print

c(10, 100)

10 100

## 함수의 기본 기능

In [ ]:
# return을 만나게 되면 함수는 종료가 됩니다.
def function(x, y):
    z= x + y
    return z
    print('hello')
    print('hello')
print(function(5, 7))

12

In [ ]:
# return을 빨리 만나게 해주세요.
# early return
# 조건이 부합하지 않으면 바로 return을 하도록 하는 코딩 패턴
# 이렇게 작성함으로써, 가독성이 좋은 코드

def custom_sum(x, y):
    if type(x) != int or type(y) != int:
        return '연산할 수 없습니다.'
    z = x + y # 100줄이라 가정
    return z
print(custom_sum(5, '가나다'))

연산할 수 없습니다.

In [ ]:
# 한글코딩의 장점
# 1. 고유명사(한라산, 새싹멤버) -> 기획자와 소통하기도 좋습니다.
# 2. 알고리즘 가독성은 괜찮습니다. 프로젝트는 조금 힘들 수 있어요. 일부 모듈에서는 사용할 수 있습니다.

# 한글코딩의 단점
# 1. 싫어하시는 분도 많습니다.
# 2. 한영키 바꾸는 것

In [ ]:
# 함수 안에 함수
def one():
    def two():
        print('hello')
    def three():
        print('hello2')
    return 100

print(one())

100

In [ ]:
# 함수 안에 함수
def one():
    def two():
        print('hello1')
    def three():
        print('hello2')
    two()
    three()
    return 100

print(one())

In [ ]:
# 함수 안에 함수와 함수 안에 변수는 밖에서 호출이 안됩니다.
# 아래것이 만약 실행되었다면 위 어딘가에서 two와 x가 정의되어 있는 것입니다.
def one():
    def two():
        print('hello1')
    def three():
        print('hello2')
    two()
    three()
    x = 1000
    return 100

one()
print(x)
two()

hello1
hello2

NameError: ignored

In [ ]:
# 함수 안에 함수와 함수 안에 변수를 해봤으니
# 이번에는 함수 밖에 함수와 함수 밖에 변수를 해보도록 하겠습니다.

def test():
    print('test')

def one():
    test()

def two():
    test()

one()
two()
test()

test
test
test

In [ ]:
# 위 원리와 마찬가지로 밖에 있는 변수를 '가져오는 것만' 가능합니다.
# 수정은 안됩니다.
test = 10

def one():
    print('test')

def two():
    test()


one()
two()
test()

In [ ]:
# 이렇게 하시면 error가 납니다! 밖에 있는 변수는 수정이 안됩니다.
test = 10

def one():
    test = test + 10

one()

## 지역 변수와 전역 변수

In [ ]:
# 전역변수 접근은 가능하지만 수정이 되진 않습니다.
a = 100
def f():
    a = a + 1
f()

In [ ]:
# 전역변수를 함수 내부에서 수정이 되게 하는 코드입니다.
# 권하지 않습니다.
a = 100
def f():
    global a # 실무에서 사용 안합니다.
    a = a + 1
f()
print(a)

101

In [ ]:
# 정해진 루트 외에 다른 루트로 해당 값을 수정하려고 하지 마세요.
a = 100
def f(x):
    x = x + 1
    return x
a = f(a)
print(a)

101

In [ ]:
# 순수 함수
def f(x):
    return x + x + 100
f(10)
f(20) 
# 아규먼트 값에 따라 다르지만 
# 아규먼트에 2배해서 100이 더해진 다는 사실은 변하지 않죠?

140

In [ ]:
test = 100
def f(x):
    return x + x + 100 + test
f(10)
# 아규먼트 값에 따라 다르지만 
# 아규먼트에 2배해서 100이 더해진 다는 사실은 변하지 않죠?
# 그렇지 않습니다. test값이 다른 곳에서 조작이 되면
# 더해지는 값이 200이 안될 수도 있죠.
# 예측이 불가하게 되는 것!

In [ ]:
# 지역변수와 전역변수 이어서
# 전역변수 : 전역에서 접근할 수 있는 변수
# 지역변수 : 함수 내에서만 접근할 수 있는 변수

In [ ]:
a = 100
def one():
    a = 10
    print(a)


one()
print(a)

10
100

In [ ]:
# 어려우신 분들은 pass!
# 조금 있다가 요약정리에서도 써드리지 않을 예정입니다.
# 자신의 공간에 변수가 선언되어 있지 않으면
# 전역까지 찾아 올라갑니다. 전역에도 없으면 error

a = 100
def one():
    a = 10
    def two():
        def three():
            a = 1000
            print(a)
        three()
        print(a)
    two()
    print(a)


one()
print(a)

1000
10
10
100

In [ ]:
# error가 나는 코드
x = 100
def outer():
    x = 1
    def inner():
        x += 1
        print(x)
    inner()
    print(x)

outer()
print(x)

In [ ]:
# inner가 outer에 변수를 건드리고 싶은데
# inner 안에서는 x에 수정권한이 전혀 없습니다.
x = 100
def outer():
    x = 1
    def inner():
        nonlocal x
        x += 1
        print(x)
    inner()
    print(x)

outer()
print(x)

2
2
100

In [ ]:
x = 100
def outer():
    x = 1
    def inner():
        global x
        x += 1
        print(x)
    inner()
    print(x)

outer()
print(x)

101
1
101

## 재귀함수

* 내가 나를 호출하는 것입니다.
* 재귀<-> for문은 대부분 호환이 가능합니다.
* 반복문 사용하시기를 권합니다!
* 어렵고 효율도 안좋아요! (얼마나 효율이 안좋은지도 확인해봅시다)
* 필수적으로 사용하는 곳이 있습니다.

In [ ]:
# sys.setrecursionlimit -> 제한을 늘릴 수 있음
# 실행시키지 마세요.
def 숫자출력():
    print(1)
    return 숫자출력()
숫자출력()

In [ ]:
# for로 펙토리얼
# 5! = 5 * 4 * 3 * 2 * 1

result = 1

# 1 * 2 * 3 * 4 * 5
for i in range(1, 6):
    result *=i

result

120

In [ ]:
# 재귀로 펙토리얼

def f(n):
    if n <=1:
        return 1
    else:
        return n * f(n-1)

f(5)
'''

f(5)        5 * f(4) == 5 * 24 => 120
f(4)        4 * f(3) == 4 * 6
f(3)        3 * f(2) == 3 * 2
f(2)        2 * f(1) == 2 * 1
f(1)        1
'''

120

In [ ]:
# for로 문자열 거꾸로 출력하기
s = 'hello'
result = ''

for i in s:
    result = i + result

result
'''
result = 'h' + ''
result = 'e' + 'h'
result = 'l' + 'eh'
result = 'o' + 'lleh'
'''

# 실무에서는 이렇게 거꾸로 만들지 않습니다.
# 슬라이싱이 일반 for문보다 8배 빠릅니다.
# s[::-1] 이렇게 쓰시면 됩니다.

"\nresult = 'h' + ''\nresult = 'e' + 'h'\nresult = 'l' + 'eh'\nresult = 'o' + 'lleh'\n"

In [ ]:
def reverse(s):
    if len(s) == 1:
        return s
    else:
        return   reverse(s[1:]) + s[0]

reverse('hello')

'''
reverse('hello')     reverse('ello') + 'h'  =='olle' + 'h'
reverse('ello')     reverse('llo') + 'e'    =='oll' + 'e'
reverse('llo')     reverse('lo') + 'l'      =='ol' + 'l'
reverse('lo')     reverse('o') + 'l'        =='o' + 'l'
reverse('o')    'o'    
'''

"\nreverse('hello')     reverse('ello') + 'h'  =='olle' + 'h'\nreverse('ello')     reverse('llo') + 'e'    =='oll' + 'e'\nreverse('llo')     reverse('lo') + 'l'      =='ol' + 'l'\nreverse('lo')     reverse('o') + 'l'        =='o' + 'l'\nreverse('o')    'o'    \n"

In [ ]:
# 피보나치
# 재귀가 얼마나 비효율적인지 보여드리기 위해서 진행
# 1 1 2 3 5 8 13 21

curr = 1
next = 1

for i in range(1, 5):
    curr, next = next, curr + next
next

8

In [ ]:
# 피보나치 재귀

def f(n):
    if n == 1 or n == 2:
        return 1
    return f(n-1) + f(n-2)
1, 1, f(3), f(4), f(5), f(6)

(1, 1, 2, 3, 5, 8)

In [ ]:
# 재귀에 비효율을 이렇게 해결할 수는 있다를 보여드리기 위함
# but 가능 하면 for를 이용해주세요.

from functools import lru_cache

@lru_cache(maxsize=None)
def fib(num):
    if num == 0:
        return 0
    if num == 1 or num == 2:
        return 1
    else:
        return fib(num-1) + fib(num-2)

fib(40)

## !! 연습문제

In [ ]:
# 1번
a = 'pithon'

def 함수1():
    def 함수2():
        print('love')
    
    print('I')
    함수2()
    return "python"


a = 함수1()
print(a)

I
love
python

In [ ]:
# 2번
# 실력이 있으신 분은 견고한 코드가 될 수 있도록 해주셔야 됩니다.
def plus(num1, num2):
    return num1 + num2

def minus(num1, num2):
    return num1 - num2
def multiply(num1, num2):
    return num1 * num2
def divide(num1, num2):
    return num1 / num2

print(f'plus : {plus(10, 5)}')
print(f'minus : {minus(10, 5)}')
print(f'multiply : {multiply(10, 5)}')
print(f'divide : {divide(10, 5)}')

plus : 15
minus : 5
multiply : 50
divide : 2.0

In [ ]:
# 실력이 있으신 분은 견고한 코드가 될 수 있도록 해주셔야 됩니다.
def plus(num1, num2):
    if type(num1) == int and type(num2) == int:
        return num1 + num2
    return float('inf')

# 테스트 주도 개발
    print(f"plus : {plus(10, 5)}")
    print(f"plus : {plus(10, '5')}")
    print(f"plus : {plus('10', 5)}")
    print(f"plus : {plus('10', '5')}")
    print(f"plus : {plus(10, a)}")
    print(f"plus : {plus(10, True)}")
    print(f"plus : {plus(False, 5)}")
    print(f"plus : {plus(10, 10.1)}")

In [ ]:
# 실력이 있으신 분은 견고한 코드가 될 수 있도록 해주셔야 합니다.
def plus(num1, num2):
    try:
        return num1 + num2
    except:
        return float('inf')

# 테스트 주도 개발
print(f"plus : {plus(10, 5)}")
print(f"plus : {plus(10, '5')}")
print(f"plus : {plus('10', 5)}")
print(f"plus : {plus('10', '5')}")
print(f"plus : {plus(10, 'a')}")
print(f"plus : {plus(10, True)}")
print(f"plus : {plus(False, 5)}")
print(f"plus : {plus(10, 10.1)}")

plus : 15
plus : inf
plus : inf
plus : 105
plus : inf
plus : 11
plus : 5
plus : 20.1

In [ ]:
float('inf') > 1000000000000000000000000

In [ ]:
def 제곱(x, n):
    if n==0:
        return 1
    return x * 제곱(x, n-1)

제곱(3, 3)
제곱(3, 4)

81

In [ ]:
def 제곱(x):
    def 승수(y):
        return x ** y
    return 승수

제곱3 = 제곱(3)
제곱3(4)

81

## rist (리스트)

* 순서를 가진 데이터들의 집합(Sequence)
* 리스트는 값의 변경
* 리스트 안에 리스트로 다차원의 리스트를
만드는 것도 가능
* 리스트 안에 다른 딕셔너리, 셋, 튜플 등을 넣는것도 가능합니다.

In [ ]:
l = [1000, 2000, 3000, 1000, 2000, 3000]
id(l[0]), id(l[3])

(140696912416080, 140696912416080)

In [ ]:
# 컨벤션 자료형(딕셔너리, 튜플, 셋, 리스트)에서는
# 메모리 효율을 위해
# 같은 값이 있을 경우 같은 곳을 가리키게 설계되어 있습니다.

In [ ]:
l = [10, 20, 30, 40]
l [0] = 1000

In [ ]:
s = 'hello world'
s[0] = 'k'# error
s

In [ ]:
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]

data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
data[0]

[1, 2, 3]

In [ ]:
data[0][0]

1

In [ ]:
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]

for i in range(3):
    for j in range(3):
        data[i][j] *= 2
        data[i][j] *= 2
        data[i][j] *= 2

data

[[8, 16, 24], [32, 40, 48], [56, 64, 72]]

In [ ]:
'''
3                == 스칼라
[3, 4]           == 벡터
[[1, 2, 3],      == 메트릭스(행렬)
 [4, 5, 6],
 [7, 8, 9]]     
[[[1], [2], [3]], == 텐서(다차원, 3차원 이상)       
 [[4], [5], [6]],
 [[7], [8], [9]]] 
텐서플로우 : 인공지능 중 유명한 라이브러리
'''

'\n3                == 스칼라\n[3, 4]           == 벡터\n[[1, 2, 3],      == 메트릭스(행렬)\n [4, 5, 6],\n [7, 8, 9]]     \n[[[1], [2], [3]], == 텐서(다차원, 3차원 이상)       \n [[4], [5], [6]],\n [[7], [8], [9]]] \n텐서플로우 : 인공지능 중 유명한 라이브러리\n'

In [ ]:
# 리스트에서 주의해야 하는 연산!
x = [10] * 3
x

[10, 10, 10]

In [ ]:
x[0] = 100
x

[100, 10, 10]

In [ ]:
x = [[10]*2] * 3
x

[[10, 10], [10, 10], [10, 10]]

In [ ]:
x[0][0] = 100
x

[[100, 10], [100, 10], [100, 10]]

In [ ]:
id(x[0][0]), id(x[0][1])

(140698160188752, 140698160185872)

In [ ]:
[1, 2, 3] + [1, 2, 3] # 자주 사용합니다

[1, 2, 3, 1, 2, 3]

In [ ]:
[1, 2, 3] + 1 #error

In [ ]:
l = [10, 20, 30]
type(l), dir(l), help(l)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

(list,
 ['__add__',
  '__class__',
  '__class_getitem__',
  '__contains__',
  '__delattr__',
  '__delitem__',
  '__dir__',
  '__doc__',
  '__eq__',
  '__format__',
  '__ge__',
  '__getattribute__',
  '__getitem__',
  '__gt__',
  '__hash__',
  '__iadd__',
  '__imul__',
  '__init__',
  '__init_subclass__',
  '__iter__',
  '__le__',
  '__len__',
  '__lt__',
  '__mul__',
  '__ne__',
  '__new__',
  '__reduce__',
  '__reduce_ex__',
  '__repr__',
  '__reversed__',
  '__rmul__',
  '__setattr__',
  '__setitem__',
  '__sizeof__',
  '__str__',
  '__subclasshook__',
  'append',
  'clear',
  'copy',
  'count',
  'extend',
  'index',
  'insert',
  'pop',
  'remove',
  'reverse',
  'sort'],
 None)

## 리스트의 메서드

In [ ]:
#'append', 'clear', 'copy', 'count', 'extend','index',
#'insert','pop','remove','reverse','sort'

In [ ]:
l = [1, 2, 3]
l.append(4)
l

[1, 2, 3, 4]

In [ ]:
l = [1, 2, 3]
l.append([1, 2, 3])
l

[1, 2, 3, [1, 2, 3]]

In [ ]:
l = [1, 2, 3]
l.extend('hello') 
l

[1, 2, 3, 'h', 'e', 'l', 'l', 'o']

In [ ]:
l = [1, 2, 3]
l.extend({'one':10, 'two':20}) 
l

[1, 2, 3, 'one', 'two']

In [ ]:
l = [1, 2, 3]
l.extend({10, 20, 30}) 
l

[1, 2, 3, 10, 20, 30]

In [ ]:
l = [10, 20, 30]
l.clear()
l

[]

In [ ]:
제주과일가게 = [['바나나', 1000], ['수박', 2000], ['딸기', 3000]]
서울과일가게 = 제주과일가게
서울과일가게[0] = ['바나나', 2000]
서울과일가게, 제주과일가게

([['바나나', 2000], ['수박', 200], ['딸기', 3000]],
 [['바나나', 2000], ['수박', 200], ['딸기', 3000]])

In [ ]:
제주과일가게 = [['바나나', 1000], ['수박', 2000], ['딸기', 3000]]
서울과일가게 = 제주과일가게.copy() # 얕은 복사
서울과일가게[0] = ['바나나', 2000]
서울과일가게, 제주과일가게

([['바나나', 2000], ['수박', 2000], ['딸기', 3000]],
 [['바나나', 1000], ['수박', 2000], ['딸기', 3000]])

In [ ]:
s = 'hello world'
s[:5]

'hello'

In [ ]:
l = [10, 20, 30, 40, 50]
l[:3]
ll = l[:]
ll

[10, 20, 30, 40, 50]

In [ ]:
id(l), id(ll)

(140696910550528, 140696910555520)

In [ ]:
l = [1, 2, 3]
ll = l[:]
l[0] = 1000
l, ll

([1000, 2, 3], [1, 2, 3])

In [ ]:
l = [1, 2, 3]
ll = l.copy()
l[0] = 1000
l, ll

([1000, 2, 3], [1, 2, 3])

In [ ]:
l = [1, 2, 3, 1, 1, 1, 2, 3, 2, 3, 1, 1]
l. count(1)

6

In [ ]:
l = [10, 20, 30, 40, 50]
l.pop(0) # 많이 사용합니다.
l

[20, 30, 40, 50]

In [ ]:
# append : 맨 뒤에 추가
# pop : 맨 뒤에서 값을 뽑아내고, index가 들어갈 경우 index에서 뽑습니다.
# insert : index에 값을 삽입하고 원래 있던 값을 뒤로 밀어버립니다.

In [ ]:
l = [10, 20, 30, 40, 50]
l.remove(20) # 예를 들어 for를 돌면서 remove를 하지 않기 바랍니다.
l

[10, 30, 40, 50]

In [ ]:
l = [20, 20, 20, 20]
for i in range(len(l)):
    print(len(l)) # len가 계속 변하기 때문에 의도치 않은 에러가 날 수 있어요.
    l.remove(20)

4
3
2
1

In [ ]:
# 무한 반복입니다.
l = [20, 20, 20, 20]
for i in l:
    print(len(l))
    l.append(20)

In [ ]:
l = [5, 6, 4, 3, 8, 9, 1]
l.reverse() # 역 정렬이 아니고 역순이며 원본을 만집니다.
l

[1, 9, 8, 3, 4, 6, 5]

In [ ]:
l = [5, 6, 4, 3, 8, 9, 1]
print(list(reversed(l))) # 역 정렬이 아니고 역순이며 원본을 만지지 않습니다.
print(l)

[1, 9, 8, 3, 4, 6, 5]
[5, 6, 4, 3, 8, 9, 1]

In [ ]:
# l.reverse() : 리스트에 메서드 이며, return None입니다! 역순, 원본을 만집니다.
# reversed() : 빌트인펑션이며, return 역순 입니다! 원본을 만지지 않습니다.

## !! 오늘 배운 것 정리

1. 함수
    1. 코드 덩어리(정말 쉽게 설명하면)
    2. 코드를 재사용 할 수 있으며, 실수를 줄일 수 있습니다.
    3. 코드의 구조를 한 눈에 파악할 수 있습니다.
    4. 형태
        ```python
        # 파선아실(파라미터는 선언할 때, 아규먼트는 실제)
        def function(x, y):
            z = x + y
            return z
        print(f'function(5, 7) = {function(5, 7)}')
        ```
    5. 함수 안에 함수와 함수 안에 변수는 밖에서 접근이 불가합니다.
    6. 지역 변수와 전역 변수
        * 전역변수 : 전역에서 접근할 수 있는 변수
        * 지역변수 : 함수 내에서만 접근할 수 있는 변수
        ```python
        # 전역변수는 각 함수에서 접근은 가능하지만 수정이 되진 않습니다.
        # only read
        # global이라는 키워드로 밖에 있는 변수를 수정할 수도 있지만 권하지 않습니다.
        # 권하지 않기에 요약자료에도 없습니다.
        a = 100
        def f():
            a = a + 1
        f()
        ```
    7. 재귀함수
        * 내가 나를 호출하는 것입니다.
        * 재귀 <-> for문은 대부분 호환이 가능합니다.
        * 반복문 사용하시기를 권합니다!
        * 어렵고 효율도 안좋아요! (얼마나 효율이 안좋은지도 확인해보겠습니다.)
        * 필수적으로 사용하는 곳이 있습니다.
        ```python
        def f(n):
            if n <= 1:
                return 1
            else:
                return n * f(n-1)

        f(5)
        ```
2. list (리스트)
    * 순서를 가진 데이터들의 집합(Sequence)
    * 리스트는 값의 변경
    * 리스트 안에 리스트로 다차원의 리스트를 만드는 것도 가능
    * 리스트 안에 다른 딕셔너리, 셋, 튜플 등을 넣는 것도 가능합니다
    ```python
    l = [10, 20, 30, 40]
    print(l[0]) # 순서로 값 호출
    l[0] = 1000 # 값의 변경 가능
    print(l)

    data = [[1, 2, 3], # 다차원 배열
        [4, 5, 6],
        [7, 8, 9]]

    print(data)
    ```
    * 리스트 메서드
        * append : 맨 뒤에 값 추가
        * clear : 모든 값 지우기
        * copy : 얕은 복사
        * count : 갯수 세기
        * extend : 확장하기(뒤에 순회 가능한 객체가 들어오면 순차적으로 추가)
        * index : 위치 찾기
        * insert : 삽입하기
        * pop: 맨 뒤에서 값 꺼내기(index가 들어오면 index에서 값 꺼냄)
        * remove : 값 지우기
        * reverse : 역순
        * sort : 정렬

## 데코레이터

## 클로저, 팩토리 함수